fastapi==0.109.2
uvicorn==0.27.0.post1
botbuilder-integration-aiohttp==4.14.8
langchain-core
langchain-community
langchain-openai
langchain
langchain-ollama
langchainhub
azure-cosmos==4.5.1
azure-monitor-opentelemetry==1.2.0
azure-identity==1.15.0
azure-keyvault-secrets==4.8.0
python-jose==3.3.0
azure-appconfiguration-provider==1.1.0
#opencensus-ext-azure
pydantic-settings
pydantic
pydub==0.25.1
python-multipart==0.0.9
azure-cognitiveservices-speech==1.37.0
jsonschema==4.21.1
azure-search-documents
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
PyMuPDF
python-dotenv==1.0.1
google-cloud-firestore 
google-auth
langchain-google-vertexai
langdetect
python-jose[cryptography]
fastapi-azure-auth
httpx